html,
body {
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.span {
  color: #4fb1ba;
  width: 100%;
}

body {
  background-color: #222930;
  text-align: center;
}

.top {
  height: 100vh;
}

.p {
  text-align: center;
  color: #222930;
  border: thick burlywood;
  font-size: 16px;
}

.button {
  font-size: 18px;
  border-radius: 5px;
}

.button:hover {
  background-color: #4fb1ba;
  color: white;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer {
  background-color: black;
  color: burlywood;
  height: 7vh;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

h5 {
  text-align: center;
}

.container {
  color: darkblue;
  width: max-content;
  margin: auto;
  margin-top: 5%;
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.041),
    0 6px 6px rgba(0, 0, 0, 0.23);
  text-align: center;
}
fieldset {
  border-radius: 5px;
  color: #4fb1ba;
  border: rgb(160, 160, 160);
  background-color: rgb(62, 70, 67);
}
textarea {
  border-radius: 5px;
  background-color: rgb(189, 186, 186);
}

.follow {
  color: burlywood;
}

.text {
  padding-top: 3px;
  text-align: center;
  color: burlywood;
}
